<section class="text-gray-600 body-font relative">
  <div class="container  py-24 mx-auto">
    <div class="flex flex-wrap">

      <div id="div1" class="p-2 lg:w-1/2 md:w-full child">
        <img class="my-image rounded  w-full" alt="hero"  [src]="'assets/' + images[0]">
      </div>
      <div   id="div2" class="p-2 lg:w-1/2 md:w-full child">
        <h1 class="title-font text-5xl mb-8  mt-5 ">{{ content[0].title }}</h1>
        <p class="leading-relaxed">{{content[0].description }}</p> 
      </div>

      <div  id="div3" class="p-2 lg:w-1/2 md:w-full child ">
        <h1 class="title-font text-5xl mb-8  mt-5">{{ content[1].title }}</h1>
        <p class="leading-relaxed">{{content[1].description }}</p> 
      </div>

      <div  id="div4" class="p-2 lg:w-1/2 md:w-full child ">
        <img class="my-image rounded w-full" alt="hero"  [src]="'assets/' + images[1]">
      </div>

      
      <div  id="div5" class="p-2 lg:w-1/2 md:w-full child">
        <img class="my-image rounded w-full" alt="hero"  [src]="'assets/' + images[2]">
      </div>
      

      <div  id="div6" class="p-2 lg:w-1/2 md:w-full child ">
        <h1 class="title-font text-5xl mb-8  mt-5">{{ content[2].title }}</h1>
        <p class="leading-relaxed">{{content[2].description }}</p> 
      </div>


    </div>
  </div>  
</section>
