.child {
    //border: 1px solid red;
    flex-grow: 1;
    font-family: Quicksand, sans-serif;
    text-align: center;
    margin-top: 5%;
}

.child p {
    font-size: 1.3rem;
}

@media (max-width:  1280px) {
    #div1 {order:1;}
    #div2 {order:2;}
    #div3 {order:3;}
    #div4 {order:4;}
    #div5 {order:5;}
    #div6 {order:6;}

}
    
    
@media (max-width: 1024px) {
    #div1 {order:1;}
    #div2 {order:2;}
    #div4 {order:3;}
    #div3 {order:4;}
    #div5 {order:5;}
    #div6 {order:6;}
    
}