<div style="background-color: white;" class=" tm-0 gbk">
   <div class="flex justify-center text-3xl font-medium text-gray-900 mt-15 mb-15 ptitle">
      <h1>Your Trusted Freight Partner</h1>
   </div>
   <div class="container mx-auto flex md:flex-row flex-col items-start border border-red-500">
      <div class="lg:max-w-lg lg:w-full md:w-1/3 w-5/6  md:mb-0  aboutbox">
         <img class="object-cover object-center rounded" alt="hero" src="/assets/mcentire.webp">
      </div>
      <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left  text-center">
         <h1 class="title-font sm:text-4xl text-3xl font-medium  text-center stitle">Why Choose us?
         </h1>
         <p class="mb-1 leading-relaxed sdescription">
            At MLX, we're not just in the business of transporting goods; we're in the business of making your logistics seamless and stress-free.  
            With a commitment to excellence and a passion for efficiency, we're your go-to freight brokerage for all of your cargo needs.
         </p>
      </div>
      <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left ">
         <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium  text-center stitle">Comprehensive Services
         </h1>
         <p class="mb-8 leading-relaxed sdescription">
            We handle a diverse range of freight types, from delicate cargo to heavy machinery, ensuring your shipments reach their destination safely and on time.
         </p>
      </div>
   </div>

   <div class="container mx-auto flex px-5 md:flex-row flex-col items-start border border-red-500"> 
      <div class="lg:max-w-lg lg:w-full md:w-1/3 w-5/6 mb-1 md:mb-0  aboutbox">    
      </div>
      <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left ">
         <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium  text-center stitle">Comprehensive Services
         </h1>
         <p class="mb-8 leading-relaxed sdescription">
            We handle a diverse range of freight types, from delicate cargo to heavy machinery, ensuring your shipments reach their destination safely and on time.
         </p>
      </div>
   </div>
</div>

