.goldb {
    background-color: gold;
}

.testb {
    background-color: aqua;
    position: absolute;
}

.ptitle {
   color: black;
}

.ptitle h1 {
    text-transform: uppercase;
}

.stitle {
    font-size: 1.1rem;
}

.sdescription {
    font-size: 0.9rem;    
    color: darkgray;
    font-weight: 500;
    font-family: Quicksand;

}

.lfood { 
    color: gray;
    font-family: 'Montserrat', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
}
  

.gbk {
    background-color: rgb(26, 58, 20);
}

.lfoodh2 {  color: #00bce4;  font-size: 1.6rem; margin-top: 10%;  margin-bottom: 5%;}