<div style="background-color: white;" class=" tm-0 gbk ">
   <div class="flex justify-center text-3xl font-medium text-gray-900 mt-15 mb-15 ptitle">
      <h1 class="wus">Your Trusted Freight Partner</h1>
   </div>

   <div class="container mx-auto px-4 py-8">
      <div class="flex flex-col md:flex-row"> 
    
        <div class="md:w-1/3 md:pr-4"> 
         <img class="object-cover object-center rounded" alt="hero" src="/assets/port_containers.webp">
        </div>
    
        <div class="md:w-2/3 md:pl-4"> 
          <div class="mb-4"> 
            <h1 class="title-font sm:text-4xl text-3xl font-medium  text-left mb-6 stitle">Why Choose us?
            </h1>
            <p class="mb-1 leading-relaxed sdescription">
               At MLX, we're not just in the business of transporting goods; we're in the business of making your logistics seamless and stress-free.  
               With a commitment to excellence and a passion for efficiency, we're your go-to freight brokerage for all of your cargo needs.
            </p>
          </div>
    
          <div class="mb-4"> 
            <h1 class="title-font sm:text-4xl text-3xl font-medium  text-left mb-6 stitle">Comprehensive Services
            </h1>
            <p class="mb-1 leading-relaxed sdescription">
               We handle a diverse range of freight types, from delicate cargo to heavy machinery, ensuring your shipments reach their destination safely and on time.
            </p>
          </div>
    
          <div class="mb-4">
            
            <h1 class="title-font sm:text-4xl text-3xl font-medium  text-left mb-6 stitle">Expertise
            </h1>
            <p class="mb-1 leading-relaxed sdescription">
              Our team of seasoned professionals boasts years of experience in the logistics industry.  We understand the complexities of freight management and use our knowledge to navigate the most challenging logistics landscapes.
            </p>
            
          </div>

          <div class="mb-4">
            
            <h1 class="title-font sm:text-4xl text-3xl font-medium  text-left mb-6 stitle">Personalized Solutions
            </h1>
            <p class="mb-1 leading-relaxed sdescription">
              We believe that every client is unique, and so are their shipping needs.  We will work closely with you to tailor our services to fit your specific requirements.
            </p>

          </div>

          
    
          <div>
            </div>
        </div>
    
      </div>
    </div>
  
</div>

