<nav class="sticky-menu">
    <div class="menu-content">
      <div class="logo-container">
        <div class="logo"><img src="/assets/logo.webp" alt="MLX" style="width: 100%;"  /> </div>
      </div>  
      <div class="menu-buttons-container">
        <ul>
          <li><a href="home">HOME</a></li>
          <li><a href="contact-us">CONTACT US</a></li>
          <li><a href="why-us">WHY US</a></li>
          <li><a href="hiring">HIRING</a></li>
          <li><a href="report">REPORT</a></li>
        </ul>
      </div> 
   
    </div>
</nav>