
.containerbox {
    position: relative;
    min-width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevents overflow issues */
    background-image: url("/assets/dock_port.webp");
    background-repeat:no-repeat; /* Prevent image repeating */
    background-position: center;
    background-size: cover;

  }.containerbox.background-image {
    position: absolute; /* Position the background image absolutely */
    width: 100%;
    height: 100%; /* Ensures full viewport height */
    //object-fit: cover; /* Or contain, fill, etc. as needed */
    object-fit: contain; /* Change from 'cover' to 'contain' */
    object-position: center; /* Correctly placed here */
    //display: block;
    z-index: -1; /* Place the background image behind the content */
  }

  
  /*top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;*/
 